.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pl-pr-3 {
    padding: 0 20px 0 20px;
}

.mr-10 {
    margin-right: 10px;
}

.collection-item span {
    max-width: 55%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.collection-item form {
    min-width: 55%;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons i {
    margin-right: 15px;
}

.completed {
    transition: all 0.6s;
    background-color: #e2e2e2!important;
}

i {
    cursor: pointer;
}
